body {
  margin: 0;
  padding: 2rem 2%;
  font-family: "PT Sans Caption", sans-serif;
  color: var(--color-body-text);
}

.gov-interface-wrapper {
  text-align: center;
  width: 100%;
  display: grid;

  /* @media screen and (min-width: 830px) {
    grid-template-columns: 1fr 120px;
  } */
}

/* .return-arrow {
  display: inline-block;
  text-align-last: left;
  text-decoration: none;
  margin-left: .5rem;
  width: 30px;
  height: 30px;
} */
/* 
.return-arrow::before {
  content: '\25C0';
  font-size: var(--fontsize-nav);
  color: var(--color-medium-blue);
} */

h1 {
  font-family: sans-serif;
  font-size: var(--fontsize-h1);
  margin-top: 2rem;

  /* @media screen and (min-width: 830px) {
    grid-column: 1/2;
  } */
}

.filter-changestatus {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
}

.filter-wrapper {
  margin: 1.5rem 0 .5rem;
  justify-self: start;
  padding: 1rem .5rem;
}

.filter-wrapper .filter-text {
  margin-right: .8rem;
  font-weight: bold;
  font-size: var(--fontsize-nav);
}

.filter-wrapper select {
  padding: .3rem 1.7rem .3rem .8rem;
  font-size: var(--fontsize-nav);
  background-color: white;
  border: 1.5px solid var(--color-medium-blue);
  border-radius: 20px;
  text-align: center;

  cursor: pointer;

  /* Arrow */
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5rem top 50%;
  background-size: 0.6rem auto;

  /* @media screen and (min-width: 830px) {
    grid-column: 1/2;
  } */
}

.filter-wrapper select:hover {
  opacity: .5;
}

.filter-changestatus .change-status-btn {
  display: inline-block;
  width: 170px;
  justify-self: end;
  font-size: var(--fontsize-nav);
  background-color: var(--color-dark-blue);
  color: white;
  padding: .5rem 1rem;
  margin: 1.6rem 3% .8rem 0;
  border-radius: 20px;
  cursor: pointer;
}

.filter-changestatus .change-status-btn:hover {
  opacity: .5;
}

.filter-changestatus .change-status-btn:active {
  opacity: 1;
}


.dashboard {
  display: grid;

  /* @media screen and (min-width: 830px) {
    grid-column: 1/2;
  } */
}

.dashboard>div {
  display: grid;
  gap: 0;
}


label {
  margin-top: 1rem;
  width: 400px;
  font-size: var(--fontsize-nav);
  font-family: sans-serif;
}

input {
  display: block;
  height: 2rem;
  font-size: var(--fontsize-nav);
}


.table-header,
.table-body-row {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr 1fr;
  overflow: hidden;
  position: relative;
  transition: .4s ease;
}


.table-header li {
  font-weight: bold;
  font-size: var(--fontsize-nav);
  padding: 1rem 0;
  border-bottom: 2.5px solid var(--color-body-text);
  font-family: sans-serif;
}

.table-body-row li {
  border-bottom: 1px solid var(--color-drop-shadow);
  display: inline-block;
  word-wrap: break-word;
  margin: 0;
  font-size: var(--fontsize-nav);
  padding: 1.1rem 0 .9rem;
  align-self: center;
  outline: none;
  transition: .4s ease;
}

.table-body-row li:nth-of-type(1) {
  padding: .99rem 0;
  cursor: pointer;
}

.table-body-row li:nth-of-type(1)::before {
  content: '\276F';
  font-family: sans-serif;
  margin-right: 30%;
  display: inline-block;
  transform: rotate(90deg);
}

.table-body-row li:nth-of-type(1).open::before {
  transform: rotate(-90deg);
}

.table-body-row li:nth-of-type(5) {
  color: var(--color-medium-blue);
  padding: .7rem 0;
}

.rowStatusFilter {
  padding: .3rem 2.1rem .3rem 1.5rem;
  border: none;
  border-radius: 20px;
  font-size: var(--fontsize-nav);
  text-align: center;
  color: white;
  cursor: pointer;

  /* Arrow */
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.6rem auto;
}

.rowStatusFilter:hover {
  opacity: .5;
}

.table-body-row select:has(option[value="1_New"]:checked) {
  background-color: var(--color-medium-blue);
}

.table-body-row select:has(option[value="2_Ongoing"]:checked) {
  background-color: var(--color-report-button-yellow);
  color: var(--color-body-text);
}

.table-body-row select:has(option[value="3_Denied"]:checked) {
  background-color: var(--color-drop-shadow);
}

.table-body-row select:has(option[value="4_Solved"]:checked) {
  background-color: rgb(218, 69, 69);
  /* background-color: rgba(189, 31, 31, 1); this is original */
  /* background-color: var(--color-error-red); */
}


.table-body-row li:nth-of-type(6) {
  border-bottom: 2px solid var(--color-drop-shadow);
  grid-column: 1/-1;

  gap: .5rem;
  padding: 0 0 0 12%;
  text-align: left;
  overflow: hidden;
  transform: translateY(-100%);
  z-index: -10;
  max-height: 0;
  display: none;
}

.table-body-row li:nth-of-type(6).open {
  display: grid;
  transform: translateY(0);
  z-index: 1;
  padding: 1.2rem 0 0 12%;
  max-height: unset;
}

.table-body-row li:nth-of-type(6) div {
  display: grid;
  grid-template-columns: 25% 75%;
}

.table-body-row li:nth-of-type(6) div span {
  align-self: start;
}

.table-body-row li:nth-of-type(6) div img {
  align-self: start;
  padding-left: 5%;
  padding-bottom: 1.2rem;

  @media screen and (min-width: 980px) {
    padding-left: 9%;
  }
}

.table-body-row li:nth-of-type(6) div span:nth-of-type(1) {
  font-weight: bold;
  font-family: sans-serif;
  justify-self: end;
  padding-right: 35%;

  @media screen and (min-width: 980px) {
    padding-right: 40%;
  }
}

.table-body-row li:nth-of-type(6) div span:nth-of-type(2) {
  padding-left: 5%;

  @media screen and (min-width: 980px) {
    padding-left: 9%;
  }
}